.header {
  min-height: 80vh;

  &__top {
    position: relative;
    z-index: 4;
    background-color: transparent;
    padding: 0.5rem;
    min-height: 4rem;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}