.btn {
  font-family: $poppins;
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  text-align: center;
  text-transform: capitalize;
  transition: all .2s linear;
  @extend .text-overflow;

  @include mobile-large {
    min-width: 230px;
  }

  &--cta {
    border: 2px solid $green;
    color: $white;
    background-color: $green;
    box-shadow: none;

    &:hover {
      border-color: $blue;
      background-color: $blue;

      box-shadow: -4px 4px 6px rgba($black, .2);
    }
    &:focus {
      box-shadow: -4px 4px 6px rgba($black, .2);
    }
  }

  &--black {
    color: $white;
    border: 2px solid $black;
    background-color: $black;

    &:hover {
      color: $white;
      background-color: $blue;
      box-shadow: -4px 4px 6px rgba($black, .2);
      border-color: $blue;
    }

    &:focus {
      box-shadow: -4px 4px 6px rgba($black, .2);
    }
  }

  &--blue {
    background-color: $blue;
    box-shadow: -4px 4px 6px rgba($black, .2);
    border: 2px solid $blue;

    &:hover {
      box-shadow: none;
      border: 2px solid $black;
      background-color: #fff;
    }
  }

  &--onblue {
    color: $white;
    background-color: transparent;
    border: 2px solid $white;

    &:focus {
      box-shadow: -4px 4px 6px rgba($black, .2);
    }

    &:hover {
      background-color: #fff;
      color: $black;
      box-shadow: -4px 4px 6px rgba($black, .2);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 30px;
    margin: 30px 0 0 0;

    @include tablet {
    margin-top: 20px;
  }

    @include mobile {
      flex-direction: column;
    }

    &--left {
      justify-content: flex-start;

      @include tablet {
        justify-content: center;
      }
    }
  }

  &--small {
    padding: 8px 20px;
    font-size: 18px;
  }

  &::before {
    font-family: "Font Awesome 5 Free";
    color: inherit;
    margin-right: 14px;
  }

  &--phone::before {
    content: "\f879";
    font-weight: 900;
  }

  &--email::before {
    content: "\f0e0";
    font-weight: 900;
  }

  &--cart::before {
    content: "\f07a";
    font-weight: 900;
  }

  &--plane::before {
    content: "\f1d8";
    font-weight: 400;
  }

  &--service::before {
    content: "\f06e";
    font-weight: 400;
  }

  &--shop::before {
    content: "\f07a";
    font-weight: 900;
  }
}