.sidebar {
  height: auto;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 120px;
  z-index: 10;
  background-color: rgba(0, 0, 0, .7);
  transform: translateX(101%);
  transition: transform .3s linear;
  @include mobile-large {
    top: 100px;
  }
  @include mobile {
    top: 86px;
  }

  .show-sidebar & {
    transform: translateX(0);
  }
}