<section id="talk" class="section section--nopading talk">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-5 col-md-12">
                <div class="section__header">
                    <h2>Want to talk to us more?</h2>
                    <h4 class="section__subtitle">
                        <span class="color-blue">Write to us</span> we call you.
                        <span>Lorem ipsum dolor sit amet, consectetur.</span>
                    </h4>
                </div>
            </div>
            <!--/col-6-->
            <div class="col-7 col-md-12">
                <form class="c-form">
                    <h4 class="c-form__title">Bli Kontaktet</h4>
                    <div class="c-form__group">
                        <label class="c-form__label">
                            <input name="fullname" class="c-form__input" type="text" placeholder="Foretakstnavn">
                            <svg class="c-form__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M128 148v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12zm140 12h40c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12zm-128 96h40c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12zm128 0h40c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12zm-76 84v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm76 12h40c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12zm180 124v36H0v-36c0-6.6 5.4-12 12-12h19.5V24c0-13.3 10.7-24 24-24h337c13.3 0 24 10.7 24 24v440H436c6.6 0 12 5.4 12 12zM79.5 463H192v-67c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v67h112.5V49L80 48l-.5 415z"/>
                            </svg>
                            <span class="c-form__label-text">Foretakstnavn</span>
                        </label>
                        <label class="c-form__label">
                            <input name="ditt" class="c-form__input" type="text" placeholder="Ditt Navn">
                            <svg class="c-form__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"/>
                            </svg>
                            <span class="c-form__label-text">Ditt Navn</span>
                        </label>
                    </div>
                    <div class="c-form__group">
                        <label class="c-form__label">
                            <input class="c-form__input" name="subject" type="tel" placeholder="096 333 33 33">
                            <svg class="c-form__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M497.4 361.8l-112-48a24 24 0 0 0 -28 6.9l-49.6 60.6A370.7 370.7 0 0 1 130.6 204.1l60.6-49.6a23.9 23.9 0 0 0 6.9-28l-48-112A24.2 24.2 0 0 0 122.6 .6l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.3 24.3 0 0 0 -14-27.6z"/>
                            </svg>
                            <span class="c-form__label-text">Telefon</span>
                        </label>
                        <label class="c-form__label">
                            <input class="c-form__input" placeholder="some@emial.com" name="email">
                            <svg class="c-form__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M464 64H48C21.5 64 0 85.5 0 112v288c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zm0 48v40.8c-22.4 18.3-58.2 46.7-134.6 106.5-16.8 13.2-50.2 45.1-73.4 44.7-23.2 .4-56.6-31.5-73.4-44.7C106.2 199.5 70.4 171.1 48 152.8V112h416zM48 400V214.4c22.9 18.3 55.4 43.9 104.9 82.6 21.9 17.2 60.1 55.2 103.1 55 42.7 .2 80.5-37.2 103.1-54.9 49.5-38.8 82-64.4 104.9-82.7V400H48z"/>
                            </svg>
                            <span class="c-form__label-text">E-POST</span>
                        </label>
                    </div>
                    <button class="btn btn--cta btn--small btn--plane" type="submit">Bli Kontaktet</button>
                </form>
            </div>
            <!--/col-6-->
        </div>
    </div>
</section>
<!--/talk-->
<footer class="footer">
    <div class="footer__main">
        <div class="container">
            <div class="footer__row">
                <div class="footer__col-4">
                    <h4 class="footer__title">Other Links</h4>
                    <ul class="footer__default-list">
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Contact Info</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Sitemap</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Projects</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Reviews</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="./about.html">Team</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Our Mission</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Contact Form</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Prices</a>
                        </li>
                    </ul>
                </div>
                <!-- / footer__col-4 -->
                <div class="footer__col-4">
                    <h4 class="footer__title">Services</h4>
                    <ul class="footer__default-list">
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">SEO</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">SEM</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">Ecommerce</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">Google
                                Adwords</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">Banner
                                Ads</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">Online
                                Ads</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">SOME
                                Ads</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">
                                Content Production</a>
                        </li>
                    </ul>
                </div>
                <!-- / footer__col-4 -->
                <div class="footer__col-4">
                    <h4 class="footer__title footer__title--join">Contacts</h4>
                    <ul class="footer__contacts-list">
                        <li class="footer__contacts-item footer__contacts-item--address">
                            <a class="footer__contact link-decor-on-hover" href="#">Fiktivt Tømrerselskap AS,
                                Storebruvegen 46, 2938 Bagn</a>
                        </li>
                        <li class="footer__contacts-item footer__contacts-item--tel">
                            <a class="footer__contact link-decor-on-hover" href="tel:+99921722">999 21 722</a>
                        </li>
                        <li class="footer__contacts-item  footer__contacts-item--mail">
                            <a class="footer__contact link-decor-on-hover"
                               href="mailto:some@email.com">some@email.com</a>
                        </li>
                    </ul>
                </div>
                <!-- / footer__col-4 -->
                <div class="footer__col-4">
                    <h4 class="footer__title">Follow Us</h4>
                    <ul class="footer__socials-list">
                        <li class="footer__social-item">
                            <a target="_blank" class="footer__social-contact footer__social-contact--facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a target="_blank" class="footer__social-contact footer__social-contact--telegram" href="#">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a target="_blank" class="footer__social-contact footer__social-contact--telegram" href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="footer__shedule">
                        <h4 class="footer__title footer__title--noafter">
                            Work schedule
                        </h4>
                        <ul class="footer__contacts-list">
                            <li class="footer__contacts-item footer__contacts-item--clock d-flex align-items-center">
                                <span class="footer__contact">Mon-Fri: 09:00 - 18:00,<br> Sat-Sun. - day off</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- / footer__col-4 -->
            </div>
        </div>
    </div>
    <!-- /footer__main  -->

    <div class="footer__copyright">
        <div class="container">
            <p>© 2024 Digital marketing company <a class="link-decor-on-hover" href="#">Nettsidepakker.</a></p>
            <p>Some slogan can be here!</p>
        </div>
    </div>
</footer>
<!--/footer-->
