<footer class="footer">
    <!--
    <div class="footer__main">
        <div class="container">
            <div class="footer__row">
                <div class="footer__col-4">
                    <h4 class="footer__title">About company</h4>
                    <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, natus, pariatur! Accusamus atque est, facere illo magnam magni odit praesentium saepe sunt voluptatem! Dolor laboriosam nostrum nulla sit? Dolorem, sapiente?</p>
                </div>
                &lt;!&ndash; / footer__col-4 &ndash;&gt;
                <div class="footer__col-4">
                    <h4 class="footer__title footer__title&#45;&#45;join">Contacts</h4>
                    <ul class="footer__contacts-list">
                        <li class="footer__contacts-item footer__contacts-item&#45;&#45;address">
                            <a class="footer__contact link-decor-on-hover" href="#">Fiktivt Tømrerselskap AS, Storebruvegen 46, 2938 Bagn</a>
                        </li>
                        <li class="footer__contacts-item footer__contacts-item&#45;&#45;tel">
                            <a class="footer__contact link-decor-on-hover" href="tel: +999 21 722">999 21 722</a>
                        </li>
                        <li class="footer__contacts-item  footer__contacts-item&#45;&#45;mail">
                            <a class="footer__contact link-decor-on-hover" href="mailto:some@email.com">some@email.com</a>
                        </li>
                    </ul>
                </div>
                &lt;!&ndash; / footer__col-4 &ndash;&gt;
                <div class="footer__col-4">
                    <h4 class="footer__title footer__title&#45;&#45;help">Services</h4>
                    <ul class="footer__default-list">
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="./pricing.html#business">SEO</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="./pricing.html#private">SEM</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="./pricing.html#apartment">Google Ads</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="./pricing.html#village">Google Business Profile</a>
                        </li>
                    </ul>
                </div>
                &lt;!&ndash; / footer__col-4 &ndash;&gt;
                <div class="footer__col-4">
                    <h4 class="footer__title footer__title&#45;&#45;follow">Follow Us</h4>
                    <ul class="footer__socials-list">
                        <li class="footer__social-item">
                            <a target="_blank" class="footer__social-contact footer__social-contact&#45;&#45;facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a target="_blank" class="footer__social-contact footer__social-contact&#45;&#45;telegram" href="#">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a target="_blank" class="footer__social-contact footer__social-contact&#45;&#45;telegram" href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="footer__shedule">
                        <h5 class="footer__shedule-title">
                            Work schedule
                        </h5>
                        <ul class="footer__contacts-list">
                            <li class="footer__contacts-item footer__contacts-item&#45;&#45;clock d-flex align-items-center">
                                <span class="footer__contact">Mon-Fri: 09:00 - 18:00,<br> Sat-Sun. - day off</span>
                            </li>
                        </ul>
                    </div>
                </div>
                &lt;!&ndash; / footer__col-4 &ndash;&gt;
            </div>
        </div>
    </div>
    -->
    <!-- /footer__main  -->
    <div class="container">
        <nav class="footer-nav">
            <a class="footer-nav__item" href="#">Contact info</a>
            <a class="footer-nav__item" href="#">Sitemap</a>
            <a class="footer-nav__item" href="#">Services</a>
            <a class="footer-nav__item" href="#">Projects</a>
            <a class="footer-nav__item" href="#">Reviews</a>
            <a class="footer-nav__item" href="#">Team</a>
            <a class="footer-nav__item" href="#">Our mission</a>
            <a class="footer-nav__item" href="#">Social Media</a>
            <a class="footer-nav__item" href="#">Contact form</a>
            <a class="footer-nav__item" href="#">Prices</a>
        </nav>
    </div>

    <div class="footer__copyright">
        <div class="container">
            <span>© 2024 Digital marketing company <a class="link" href="#">Nettsidepakker</a>. Some slogan can be here!</span>
        </div>
    </div>
</footer>
