<section id="talk" class="section section--nopading talk">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-5 col-md-12">
                <div class="section__header">
                    <h2>Want to talk to us more?</h2>
                    <h4 class="section__subtitle">
                        <span class="color-blue">Write to us</span> we call you.
                        <span>Lorem ipsum dolor sit amet, consectetur.</span>
                    </h4>
                </div>
            </div>
            <!--/col-6-->
            <div class="col-7 col-md-12">
                <form class="c-form">
                    <h4 class="c-form__title">Bli Kontaktet</h4>
                    <div class="c-form__group">
                        <label class="c-form__label">
                            <span class="c-form__label-text">Foretakstnavn</span>
                            <input name="fullname" class="c-form__input" type="text" placeholder="Foretakstnavn">
                        </label>
                        <label class="c-form__label">
                            <span class="c-form__label-text">Ditt Navn</span>
                            <input name="ditt" class="c-form__input" type="text" placeholder="Ditt Navn">
                        </label>
                    </div>
                    <div class="c-form__group">
                        <label class="c-form__label">
                            <span class="c-form__label-text">Telefon</span>
                            <input class="c-form__input" name="subject" type="tel" placeholder="096 333 33 33">
                        </label>
                        <label class="c-form__label">
                            <span class="c-form__label-text">E-POST</span>
                            <input class="c-form__input" placeholder="some@emial.com" name="email">
                        </label>
                    </div>
                    <button class="btn btn--cta btn--small btn--plane" type="submit">Bli Kontaktet</button>
                </form>
            </div>
            <!--/col-6-->
        </div>
    </div>
</section>
<!--/talk-->
<footer class="footer">
    <div class="footer__main">
        <div class="container">
            <div class="footer__row">
                <div class="footer__col-4">
                    <h4 class="footer__title">Other Links</h4>
                    <ul class="footer__default-list">
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Contact Info</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Sitemap</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Projects</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Reviews</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="./about.html">Team</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Our Mission</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Contact Form</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" href="#">Prices</a>
                        </li>
                    </ul>
                </div>
                <!-- / footer__col-4 -->
                <div class="footer__col-4">
                    <h4 class="footer__title">Services</h4>
                    <ul class="footer__default-list">
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">SEO</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">SEM</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">Ecommerce</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">Google Adwords</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">Banner Ads</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">Online Ads</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#">SOME Ads</a>
                        </li>
                        <li class="footer__default-item">
                            <a class="footer__default-contact link-decor-on-hover" data-modal="#modalService" href="#"> Content Production</a>
                        </li>
                    </ul>
                </div>
                <!-- / footer__col-4 -->
                <div class="footer__col-4">
                    <h4 class="footer__title footer__title--join">Contacts</h4>
                    <ul class="footer__contacts-list">
                        <li class="footer__contacts-item footer__contacts-item--address">
                            <a class="footer__contact link-decor-on-hover" href="#">Fiktivt Tømrerselskap AS, Storebruvegen 46, 2938 Bagn</a>
                        </li>
                        <li class="footer__contacts-item footer__contacts-item--tel">
                            <a class="footer__contact link-decor-on-hover" href="tel:+99921722">999 21 722</a>
                        </li>
                        <li class="footer__contacts-item  footer__contacts-item--mail">
                            <a class="footer__contact link-decor-on-hover" href="mailto:some@email.com">some@email.com</a>
                        </li>
                    </ul>
                </div>
                <!-- / footer__col-4 -->
                <div class="footer__col-4">
                    <h4 class="footer__title">Follow Us</h4>
                    <ul class="footer__socials-list">
                        <li class="footer__social-item">
                            <a target="_blank" class="footer__social-contact footer__social-contact--facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a target="_blank" class="footer__social-contact footer__social-contact--telegram" href="#">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </li>
                        <li class="footer__social-item">
                            <a target="_blank" class="footer__social-contact footer__social-contact--telegram" href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="footer__shedule">
                        <h4 class="footer__title footer__title--noafter">
                            Work schedule
                        </h4>
                        <ul class="footer__contacts-list">
                            <li class="footer__contacts-item footer__contacts-item--clock d-flex align-items-center">
                                <span class="footer__contact">Mon-Fri: 09:00 - 18:00,<br> Sat-Sun. - day off</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- / footer__col-4 -->
            </div>
        </div>
    </div>
    <!-- /footer__main  -->

    <div class="footer__copyright">
        <div class="container">
            <p>© 2024 Digital marketing company <a class="link-decor-on-hover" href="#">Nettsidepakker.</a> </p>
            <p>Some slogan can be here!</p>
        </div>
    </div>
</footer>
<!--/footer-->
