<div class="header__top">
    <div class="container">
        <button class="burger" id="burger">
            <span>open navigation</span>
        </button>
        <a href="#" class="logo">
            <img src="/assets/images/logo.svg" alt="logo">
        </a>
        <!-- /logo-->
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#">Main</a>
                    <!--<div class="nav__dropdown">-->
                    <!--    <a class="nav__dropdown-item" href="#">Our Services</a>-->
                    <!--    <a class="nav__dropdown-item" href="#">Review</a>-->
                    <!--</div>-->
                </li>
                <li class="nav__item">
                    <a href="#">About Us</a>
                </li>
                <li class="nav__item">
                    <a href="#">Services</a>
                </li>
                <li class="nav__item">
                    <a href="#">Templates</a>
                </li>
                <li class="nav__item">
                    <a href="#">Tips</a>
                </li>
            </ul>
        </nav>
        <!-- /nav-->
    </div>
</div>
<!--/header__top-->
<section class="banner">
    <div class="banner__info">
        <h1><span>Hello, </span>some slogan! </h1>
        <div class="banner__info-text">
            <h2>Our best proposal</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam consequatur cum debitis eum
                expedita natus nisi soluta veritatis voluptatibus. Dignissimos dolorem dolores et eum perspiciatis
                provident rerum vel veritatis.</p>
        </div>
        <div class="banner__info-text">
            <h2>Contacts</h2>
            <ul class="contacts">
                <li>
                    <a class="contacts__item" href="https://www.google.com/maps/place/%D0%9D%D0%BE%D1%80%D0%B2%D0%B5%D0%B3%D0%B8%D1%8F/@63.2493455,5.6676001,5z/data=!4m6!3m5!1s0x461268458f4de5bf:0xa1b03b9db864d02b!8m2!3d60.472024!4d8.468946!16zL20vMDViNHc?entry=ttu">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Fiktivt Tømrerselskap AS, Storebruvegen 46, 2938 Bagn</span>
                    </a>
                </li>
                <li>
                    <a class="contacts__item" href="tel:999 21 722">
                        <i class="fas fa-phone-alt"></i>
                        <span>999 21 722</span>
                    </a>
                </li>
                <li>
                    <a class="contacts__item" href="mailto:some@email.com">
                        <i class="fas fa-envelope"></i>
                        <span>some@email.com</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner__video">
        <img src="assets/images/pic1.jpg" alt="video">
    </div>
</section>
<!--/banner-->






