<div class="header__top">
    <div class="container">
        <button class="burger" id="burger">
            <span>open navigation</span>
        </button>
        <a href="#" class="logo">
            <img src="assets/images/logo.png" alt="logo">
        </a>
        <!-- /logo-->
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="./index.html">Main</a>
                </li>
                <li class="nav__item">
                    <a href="./about.html">About Us</a>
                </li>
                <li class="nav__item">
                    <a href="#">Templates</a>
                </li>
                <li class="nav__item">
                    <a href="#">Tips</a>
                </li>
            </ul>
        </nav>
        <!-- /nav-->
    </div>
</div>
<!--/header__top-->







