<div class="header__top header__top--fixed">
    <div class="container">
        <button class="burger" id="burger">
            <span>open navigation</span>
        </button>
        <a href="#" class="logo">
            <img src="assets/images/logo.svg" alt="logo">
        </a>
        <!-- /logo-->
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="./index.html">Main</a>
                </li>
                <li class="nav__item">
                    <a href="./about.html">About Us</a>
                </li>
                <li class="nav__item">
                    <a href="./services.html">Services</a>
                </li>
                <li class="nav__item">
                    <a href="#">nettsiderpakker</a>
                </li>
                <li class="nav__item">
                    <a href="#">Projects</a>
                </li>
                <li class="nav__item">
                    <a href="#">Tips</a>
                </li>
            </ul>
        </nav>
        <!-- /nav-->
        <div class="header__shopping" id="shopping-cart" data-modal="#modalShopping">
            <i class="fas fa-shopping-cart"></i>
        </div>
    </div>
</div>
<!--/header__top-->







