<div class="modal" id="modalService">
    <div class="modal__dialog modal__dialog--sm">

        <button type="button" class="modal__close">
            <i class="fas fa-times-circle"></i>
        </button>
        <!--/modal__close-->

        <div class="shop">
            <div class="shop__left">
                <h3 class="modal__title modal__title--contact">Some service</h3>
                <h5 class="modal__subtitle">description of the service!</h5>

                <ul class="shop__info">
                    <li class="shop__info-item">
                        <i class="fas fa-phone-alt"></i>
                        <a class="shop__info-link" href="tel: (200) 100 3000">(200) 100 3000</a>
                    </li>
                    <li class="shop__info-item">
                        <i class="fas fa-envelope contact__info-icon"></i>
                        <a class="shop__info-link"  href="mailto:designer@ui43.com">designer@ui43.com</a>
                    </li>
                </ul>
                <!--/shop__info-->

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate debitis ea eligendi expedita facere illo incidunt laboriosam odio odit, pariatur provident quaerat quibusdam repudiandae suscipit totam ullam ut voluptate.</p>
            </div>
            <!--/shop__left-->
            <div class="shop__right">
                <img src="assets/images/contact.jpg" alt="contact image">
            </div>
            <!--/shop__right-->
        </div>
        <!--/shop-->
    </div>
    <!--/modal__dialog-->
</div>