<div class="modal modal--project" id="modalProject">
    <div class="modal__dialog modal__dialog--sm">

        <button type="button" class="modal__close">
            <i class="fas fa-times-circle"></i>
        </button>
        <!--/modal__close-->

        <div class="modal__body">
            <div class="modal__left">
                <h3 class="modal__title">project 1</h3>
                <h5 class="modal__subtitle">project 1 subtitle</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate debitis ea eligendi expedita facere illo incidunt laboriosam odio odit, pariatur provident quaerat quibusdam repudiandae suscipit totam ullam ut voluptate.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate debitis ea eligendi expedita facere illo incidunt laboriosam odio odit, pariatur provident quaerat quibusdam repudiandae suscipit totam ullam ut voluptate.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate debitis ea eligendi expedita facere illo incidunt laboriosam odio odit, pariatur provident quaerat quibusdam repudiandae suscipit totam ullam ut voluptate.</p>
            </div>
            <!--/shop__left-->
            <div class="modal__right">
                <img src="assets/images/site1.jpg" alt="contact image">
            </div>
            <!--/shop__right-->
        </div>
        <!--/shop-->
    </div>
    <!--/modal__dialog-->
</div>