<aside class="sidebar" id="sidebar">
    <nav class="nav nav--sidebar">
        <a class="nav__item" href="./index.html">
            <span>Main</span>
        </a>
        <a class="nav__item" href="./about.html">
            <span>About Us</span>
        </a>
        <a class="nav__item" href="./services.html">
            <span>Services</span>
        </a>
        <a class="nav__item" href="./nettsidepakker.html">
            <span>Nettsiderpakker</span>
        </a>
        <a class="nav__item" href="./projects.html">
            <span>Projects</span>
        </a>
        <a class="nav__item" href="./tips.html">
            <span>Tips</span>
        </a>
    </nav>
</aside>