<aside class="sidebar" id="sidebar">
    <nav class="nav nav--sidebar">
        <a class="nav__item" href="./index.html">
            <span>Main</span>
        </a>
        <a class="nav__item" href="./about.html">
            <span>About Us</span>
        </a>
        <a class="nav__item" href="./services.html">
            <span>Services</span>
        </a>
        <a class="nav__item" href="#">
            <span>Nettsiderpakker</span>
        </a>
        <li class="nav__item">
            <a href="#">Projects</a>
        </li>
        <a class="nav__item" href="#">
            <span>Tips</span>
        </a>
    </nav>
</aside>